<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hostel_course_tbl</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Hostel Course Table</h1>
    <table>
        <thead>
            <tr>
                <th>Hostel_id</th>
                <th>Course id</th>
                <th>No. of Students</th>
                
                
                <!-- Add more table headers if needed -->
            </tr>
        </thead>
        
        <tbody>
            <% data.forEach(item => { %>
                <tr>
                    <td><%= item.h_id %></td>
                    <td><%= item.c_id %></td>
                    <td><%= item.no_of_stu %></td>
                   
                    
                    <!-- Add more table data if needed -->
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
