*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "playfair",sans-serif;
    background-color: rgb(169, 197, 225);
    overflow-x:hidden ;
    transition:0.5
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
a{
    color: black;
    text-decoration: none;
}
a:active{
    color: rgb(80, 80, 128);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
button{
    border:none;
    cursor: pointer;
    height: 50px;
    width: 150px;
}
section{
    margin: 4rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #f9fafc;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 9999;
    
}
.navbar_college {
    margin-left: 10px;
  width: 130px;
}
.button__primary {
    background-image: linear-gradient(
      to right,
      #4330d8 0%,
      #6e77c3 51%,
      #4330d8 100%
    );
  }
 
  .button__primary {
    margin: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;
    border-radius: 4px;
    
  }

  .button__primary_1 {
    background-color: #f9fafc;
    margin: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-size: medium;
    font-weight: 600;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #f9fafc;
    border-radius: 4px;
    
  }

  .button__primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #e8e8eb;
    text-decoration: none;
  }

.stu_form{
  margin-top: 50px;
}
.hero_text{
  
  font-size: 450%;
  color: #1d3557;
  font-weight: 3%;
  line-height: 6rem;
  margin-top: 9%;
  margin-left: 15%;
  font-family:serif   
}
.heroo{
font-family:'Times New Roman', Times, serif;
font-size: 25px;
color: #1e2359;
width: 1550px;
height: 300px ;
background-color: white;
padding: 10px;
border-radius: 8px;
margin-left: 3px;
line-height:50px;
}
.herooo{
border-radius: 8px;
margin-top: 190px;
margin-left: 750px;

}
.heroooo{
  margin-top: 100px;
}

.hero_content_1{
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
  color: #1e2359;
  width: 1000px;
  height: 300px ;
  padding: 10px;
  border-radius: 8px;
  margin-top: -850px;
  line-height:50px;
  }
.hero_content{
  margin-top: -240px;
  margin-left: 370px;
}

.hero_content_2{
  font-family:'Times New Roman', Times, serif;
  width: 100%;
  height: 300px ;
  padding: 10px;
  border-radius: 8px;
  margin-top: 570px;
  margin-left: 100px;
  line-height:150px;
  
  }
  .hero_content_21{
    color: #000000;
    font-size: 100px;
    }
  .hero_content_22{
    color: #1e2359;
    font-size: 60px;
    margin-left: 120px;
  }
  .hero_content_23{
    font-size: 28px;
    margin-top: 160px;
    margin-left: 850px;
  }

  .button__primary_3 {
    background-image: linear-gradient(
      to right,
      #4330d8 0%,
      #6e77c3 51%,
      #4330d8 100%
    );
  }
  .button__primary_3{
        margin-top: 70px;
        margin-left: 20px;
        padding: 0.5rem 1rem;
        text-align: center;
        text-transform: capitalize;
        transition: 0.5s;
        font-weight: 600;
        background-size: 200% auto;
        color: white;
        border-radius: 4px;
        
      
  }
  .form_container {
    margin-left:960px;
    margin-top: -620px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    width: 600px;
    background-color: rgb(209, 219, 234);
    padding: 20px;
    border-radius: 8px;
    
  }
  .form_int{
    width:500px ;
  }
  
  .form1{
    font-size: small;
  }
  .dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  label {
    margin-bottom: -60px;
    font-size: 30px;
    color: #14083b;
    padding-top: 40px;
    display: block;
  }
  
  input {
    width: 100%;
    box-sizing: border-box;
  }
  input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  .complain_text{
    font-family:'Times New Roman', Times, serif;
    width: 102%;
    height: 300px ;
    padding: 10px;
    line-height:60px;
    font-size: 50px;
    color:rgb(8, 41, 73);
    margin-top: 190px;
    border-radius: 8px;
  }
  .complain_img{
    margin-top: 50px;
    margin-left: 800px;
  }
  .complain_write{
    margin-top: -650px;
  }
  .complaint_write textarea {
    cursor:pointer;
    font-size: 40px;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px;
    resize: none;
}

