*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "playfair",sans-serif;
    background-color: rgb(169, 197, 225);
    overflow-x:hidden ;
    transition:0.5
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
a{
    color: black;
    text-decoration: none;
}
a:active{
    color: rgb(80, 80, 128);
}

button{
    border:none;
    cursor: pointer;
    height: 50px;
    width: 150px;
}
section{
    margin: 4rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #f9fafc;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 9999;
    
}
.navbar_college {
    margin-left: 10px;
  width: 130px;
}
.button__primary {
    background-image: linear-gradient(
      to right,
      #4330d8 0%,
      #6e77c3 51%,
      #4330d8 100%
    );
  }
  .button__primary {
    margin: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 4px;
    
  }

  .button__primary_1 {
    background-color: #f9fafc;
    margin: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-size: medium;
    font-weight: 600;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #f9fafc;
    border-radius: 4px;
    
  }
  
  
  .button__primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #e8e8eb;
    text-decoration: none;
  }
  .namaste_container{
    height: 280px;
    background-color: #6c5ce0 ;
  }

  .hindi-text {
    margin-top: -230px;
    margin-left: 500px;
    font-size: 122px;
    color: white;
}
.requests_pic{
  margin-top: 150px;
  margin-left: 720px;
  
  }
  .requests_content{
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    color: #1e2359;
    margin-top: -650px;
    margin-left: 0px;
    line-height: 70px;
    width: 1000px;
    height: 300px ;
    }
    .complaints{
      border-radius: 8px;
      margin-top: 470px;
      margin-left: 0px;
      
    }
    .complaint_text{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    color: #1e2359;
    padding: 10px;
    border-radius: 8px;
    margin-top: -680px;
    margin-left: 900px;
    line-height:60px;
   
    }
    .records{
      margin-top: 200px;
      margin-left: 720px;
    }
    .records_text{
      font-family:'Times New Roman', Times, serif;
      font-size: 30px;
      color: #1e2359;
      margin-top: -600px;
      margin-left: 0px;
      line-height: 50px;
    }
 
.admin_head{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 35%;
  margin-top: 3%;
  -webkit-text-stroke:black 1.5px;
  color: rgb(218, 229, 241);
  font-size: 50px;
}
.admin_functions{
 background-color: rgb(218, 229, 241);
 padding: 1.5%;
 font-size: 30px;
 margin-left: 5%;
 margin-right: 5%;
 margin-top: 2%;
 line-height: 4;
}


.hostel_details_button{
  margin-left: 40%;
  margin-top: -10%;
}
.warden_details_button{
  margin-left: 40%;
  margin-top: -10%;
}.user_details_button{
  margin-left: 40%;
  margin-top: -10%;
}.hostel_course_details_button{
  margin-left: 40%;
  margin-top: -10%;
}