*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "playfair",sans-serif;
  background-color: rgb(169, 197, 225);
  overflow-x:hidden ;
  transition:0.5
}
ul{
  list-style-type:none;
  margin:0;
  padding:0;
}
a{
  color: black;
  text-decoration: none;
}
a:active{
  color: rgb(80, 80, 128);
}

button{
  border:none;
  cursor: pointer;
  height: 50px;
  width: 150px;
}
section{
  margin: 4rem;
}
.container {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.navbar{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #f9fafc;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  z-index: 9999;
  
}
.navbar_college {
  margin-left: 10px;
width: 130px;
}
.button__primary {
  background-image: linear-gradient(
    to right,
    #4330d8 0%,
    #6e77c3 51%,
    #4330d8 100%
  );
}
.button__primary {
  margin: 10px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  font-weight: 600;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  
}

.button__primary_1 {
  background-color: #f9fafc;
  margin: 10px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  font-size: medium;
  font-weight: 600;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #f9fafc;
  border-radius: 4px;
  
}

.button__primary_3{
  margin-top: 50px;
  margin-left: 20px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  font-weight: 600;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  
}
.button__primary:hover {
  background-position: right center; /* change the direction of the change here */
  color: #e8e8eb;
  text-decoration: none;
}
.hero_description{ 
  width: 400px;
  font-size: 450%;
  color: #1d3557;
  font-weight: 3%;
  line-height: 6rem;
  margin-top: 1%;
  margin-left: 25%;
  font-family:serif   
  /* margin-top: 50%; */
}
.hero_text{
  
  font-size: 450%;
  color: #1d3557;
  font-weight: 3%;
  line-height: 6rem;
  margin-top: 9%;
  margin-left: 15%;
  font-family:serif   
}
.heroo{
font-family:'Times New Roman', Times, serif;
font-size: 10px;
width: 500px;
background-color: rgb(209, 219, 234);
padding: 10px;
border-radius: 8px;
margin-top: 3%;
margin-left: 530px;
}
.form{
height: 720px;
margin-top: 80px;
margin-left: 10%;
font-family:'Times New Roman', Times, serif;
font-size: 30px;
width: 80%;
background-color: rgb(209, 219, 234);
padding: 10px;
border-radius: 8px;

}
.form_container {
margin-top: 100px;
margin-left: 10%;
font-family:'Times New Roman', Times, serif;
font-size: 30px;
padding: 10px;
border-radius: 8px;
} 

.form_int{  
  margin-top: -55%;
  margin-left: 60%;
  width:600px ;
}
.requests_button{
  margin-top: 500px;
}


.form1{
  font-size: small;
}
label {
margin-bottom: -60px;
font-size: 30px;
color: #14083b;
padding-top: 40px;
display: block;
}
input {

width: 250PX;
box-sizing: border-box;
}
.forgot{
  margin-top:8px ;
  font-size: medium;
}
